body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #121212;
    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #3b3b3b;
    width: 100vw;
    z-index: 1000;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;           /* Alinha os itens na horizontal */
  justify-content: right;
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 15px 0;
  display: block;
  transition: transform 0.3s ease;
}

.navbar a:hover {
  transform: scale(1.2);
}


h1 {
    color: #f5f5f5;
    font-size: 20px;
}

section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}


.btn-ver{
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 6px 12px;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease, transform 0.1s ease;
    float: right;
    margin-top: -10px;
}

.btn-ver:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.descricao {
    background-color: #f8f9fa;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
